/**/

@mixin headerNavbar(){
    @extend %police1;
    @extend %shadowM;
    @extend %paddingM;

    @extend %relative;
    @extend %textCenter;

    &__retour,>i.fa,>i.icon{
        //
        @include absolute(0 "" "" 0);
        @extend %h100;
        font-size: $fontXL;
        line-height: $XXL;
    }
    &__logo,>img{
        height: $L;
    }
}