/**/

*{box-sizing: border-box;}
body>*{font-family: $police2;}
a{text-decoration:none;color:$dark;}
ul,menu{padding:0;margin:0;list-style:none;}
header>img,footer>a{font-family: $police1;}
footer i.fa{color:white;}


